<div class="center">
  <h3><%= "The Youtube URL was shared by you"%></h3>
</div>

<div class="container">
  <% @users_shared_urls["data"]["shared_urls"].each do |users_shared_url| %>
    <div>
      <p>
        <%= link_to "#{users_shared_url['url']}", users_shared_url["url"] %>
        <%= "was shared by" %>
        <%= link_to "#{users_shared_url['user']['name']}", users_shared_url["url"] %>
      </p>
    </div>
  <% end %>
</div>
