<%= form_with url: shared_urls_path, method: :post do |f| %>
  <div class="field">
    <%= f.text_area :url, placeholder: "Youtube URL" %>
  </div>
  <%= f.submit "Shared", class: "btn btn-primary" %>
<% end %>
